{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum aliquid quibusdam consectetur earum unde minima dolorem illo repellat delectus rerum! Quia molestiae illo, nemo delectus maxime quasi ex autem ullam rem, sit minima cupiditate vero? Deserunt dolores accusantium, voluptatem magnam illo ipsum veniam nobis cum incidunt assumenda? Vitae, dolore officiis!</p>

{% endblock content %}