{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="banner-container">
<img src="{% static 'img/banner.jpg' %}" alt="bird" style="width: 100%; height: 500px;">
</div>
<h1 style="text-align: center; padding: 20px;">What we strive for</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum aliquid quibusdam consectetur earum unde minima dolorem illo repellat delectus rerum! Quia molestiae illo, nemo delectus maxime quasi ex autem ullam rem, sit minima cupiditate vero? Deserunt dolores accusantium, voluptatem magnam illo ipsum veniam nobis cum incidunt assumenda? Vitae, dolore officiis!</p>
{% endblock content %}